@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
	max-width: 1512px;
	margin: 0 auto;
	padding: 120px 152px;
}

@media only screen and (max-width: 1512px) {
	.wrapper {
		max-width: 85%;
		padding: 120px 0px;
	}
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
	.wrapper {
		max-width: 100%;
		padding: 80px 30px;
	}
}
